<div class="row">
    <div class="col activity-header">
        <p class="pt-3">
            <a href="{{backurl}}" class="mr-5"><i class="fa fa-arrow-circle-left"></i> {{backurlstring}}</a>
            <b>{{#str}}view:eportfolio:sharedby, local_eportfolio{{/str}}:</b> {{userfullname}} |
            <b>{{#str}}view:eportfolio:timecreated, local_eportfolio{{/str}}:</b> {{timecreated}}
        </p>
    </div>
</div>

<div class="row pt-3">
    <div class="col-8">

        {{{h5pplayer}}}

    </div>
    <div class="col-4">

        {{{gradeform}}}

    </div>
</div>